.form-control:focus {
    --glow-color: var(--bs-primary);
    border-color: var(--glow-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--glow-color);
}
input[type=checkbox]{
    accent-color: var(--bs-danger);
}
.form-check-input:checked
{
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}